{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ios.js", ".android.js", ".js", ".ts", ".tsx", ".json"],
        "root": ["."],
        "alias": {
          "@assets": "./src/assets",
          "@router": "./src/router",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@constants": "./src/constants",
          "@modules": "./src/modules",
          "@store": "./src/store",
          "@screens": "./src/screens",
          "@utils": "./src/utils",
          "@": "./src"
        }
      }
    ]
  ]
}
